page-login-login-esqueci {
    .scroll-content {
        background: url(../assets/imgs/bg-login.png) no-repeat center top color($colors, primary);
        background-size: cover;
        color: white;
        .title-yellow {
            margin: 10px 0;
        }
        .block-text {
            p {
                margin-top: 0;
            }
        }
        .link {
            color: color($colors, secondary);
            font-weight: bold;
        }
        .button-fixed, .button-bottom {
            background: #0a4780;
        }
        ion-input, ion-textarea {
            color: #fff !important;
        }
        ion-label {
            color: #fff !important;
        }
        .item-md.item-block .item-inner {
            border-color: #fff !important;
        }
    }
    .text-input-ios {
      margin: 11px 8px 11px 0;
      padding: 0;
      color: #000;
      padding-left: 16px;
      width: calc(100% - 8px);
  }
}
