<ion-content padding class="padding-fixed" color="light">
  <header class="login-header" text-center>
      <img src="assets/imgs/logo.png" class="brand">
      <h3 class="title-yellow">Esqueci minha senha</h3>
      <div class="block-text">
        <p>Digite abaixo seu e-mail cadastrado, para que você possa alterar sua senha. Iremos te enviar um e-mail para redefinição de senha.</p>
      </div>
  </header>
  <ion-list>

    <ion-item>


      <ion-input type="text" color="light" placeholder="E-mail" [(ngModel)]="form.Email"></ion-input>
    </ion-item>

  </ion-list>
  <footer margin-top padding-top>
    <button ion-button full text-uppercase margin-top (click)="EsqueciSubmit(form)">Enviar E-mail</button>
    <button ion-button color="white" full outline text-uppercase margin-top (click)="goLogin()">Cancelar</button>
  </footer>
</ion-content>
