<ion-header color="header">
  <ion-navbar>
    <button ion-button menuToggle>
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <ion-title text-center>Eleiçoes 2018</ion-title>
    <ion-buttons end>
      <button  class="search-header">
      <i class="fa fa-search" aria-hidden="true"></i>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <p [innerHTML]="eleicoesdescri.Descricao"></p>
  </div>
</ion-content>
