<ion-content padding class="padding-fixed" color="light">
    <header class="login-header" text-center>
        <img src="assets/imgs/logo.png" class="brand">
        <h3 class="title-white">Seja Bem Vindo!</h3>
        <div class="block-text">
          <p>Antes de seguir, você precisa se identificar</p>
        </div>
    </header>
    <form autocomplete="off" #loginform="ngForm" (ngSubmit)="onLogin(user)">
      <ion-list>
        <ion-item class="input-block-color">
          <ion-input type="email" required color="light" placeholder="Insira seu e-mail" [(ngModel)]="user.username" name="username"></ion-input>
        </ion-item>
      
        <ion-item class="input-block-color">
          <ion-input type="password" required placeholder="Insira sua Senha" [(ngModel)]="user.password"  name="password"></ion-input>
        </ion-item>
      </ion-list>
      <button ion-button full color="light" text-uppercase [disabled]="!loginform.form.valid">Entrar</button>
    </form>
    
    <div (click)="goPage('esqueci-senha')" text-center class="link">Esqueci minha senha</div>

    <button ion-button outline full text-uppercase color="light" icon-left (click)="loginToFacebook()"> 
      <img class="ico-general-button" src="assets/imgs/ico-facebook.png" width="11" height="19"> Logar pelo Facebook
    </button>

    <footer text-center>
      <button ion-button clear text-uppercase color="secondary" icon-left (click)="goPage('cadastro')"> Cadastre-se!</button>
    </footer>
</ion-content>
