page-participacao-enviar-participacao {
    .container-stage {
        background: #f3f3f3;
        margin: -15px -15px 15px;
        padding: 15px;
    }
    textarea {
        height: 120px;
    }
    .list-categories {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 15px;
        padding: 0;
        li {
            list-style: none;
            text-align: center;
            padding: 10px 5px;
            border-radius: 5px;
            background: #6d9bc8;
            color: #fff;
            width: 32.2%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 90px;
            margin-right: 1.5%;
            margin-bottom: 1.5%;
            &:nth-child(3n) {
                margin-right: 0;
            }
            p {
                font-size: 1rem;
                font-weight: 600;
                text-transform: uppercase;
            }
            ion-icon {
                font-size: 3rem;
            }
        }
    }
}


.options-upload {
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    .button {
        width: 40%;
    }
}