<ion-header color="header">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Enviar Participação</ion-title>
    <ion-buttons end>
      <!-- <button  class="search-header">
      <ion-icon name="search"></ion-icon>
    </button> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
  <section [ngSwitch]="tab">
      <div *ngSwitchCase="'local'">
        <div class="container-stage">
          <div class="number">1</div>
          <div class="text">
            <strong>Selecione o local</strong>
          </div>
        </div>
        <ion-card>

          <ion-card-content>
              <button ion-button round full icon-left outline> <ion-icon name="pin"></ion-icon> Selecionar minha localização</button>
              <ion-row>
                <ion-col col-5>
                  <ion-item>
                    <ion-label stacked>Estado</ion-label>
                    <ion-select placeholder="Selecione">
                      <ion-option value="number"></ion-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
                <ion-col col-7>
                  <ion-item>
                    <ion-label stacked>Cidade</ion-label>
                    <ion-select placeholder="Selecione">
                      <ion-option value="number"></ion-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
                <ion-col col-12>
                  <ion-item>
                    <ion-label stacked text-uppercase>Rua</ion-label>
                    <ion-input type="text" placeholder="Digite o nome da sua rua"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col col-5>
                  <ion-item>
                    <ion-label stacked text-uppercase>Número</ion-label>
                    <ion-input type="number"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col col-7>
                  <ion-item>
                    <ion-label stacked text-uppercase>Bairro</ion-label>
                    <ion-input type="text"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col col-12 text-center margin-top>
                    <button ion-button round full (click)="saveLocal()"> Salvar</button>
                </ion-col>
              </ion-row>
          </ion-card-content>

        </ion-card>
      </div>
      <div *ngSwitchCase="'categoria'">
        <div class="container-stage">
          <div class="number">2</div>
          <div class="text">
            <strong>Selecione a Categoria</strong>
          </div>
        </div>
        <ul class="list-categories">
          <li (click)="choiceCategorie()">
            <ion-icon name="bus"></ion-icon>
            <p>Transporte</p>
          </li>
          <li (click)="choiceCategorie()">
            <ion-icon name="leaf"></ion-icon>
            <p>Meio Ambiente</p>
          </li>
          <li (click)="choiceCategorie()">
            <ion-icon name="medkit"></ion-icon>
            <p>Hospital</p>
          </li>
          <li (click)="choiceCategorie()">
            <ion-icon name="build"></ion-icon>
            <p>Conservação</p>
          </li>
          <li (click)="choiceCategorie()">
            <ion-icon name="book"></ion-icon>
            <p>Ordem Pública</p>
          </li>
          <li (click)="choiceCategorie()">
            <ion-icon name="alert"></ion-icon>
            <p>Defesa Civil</p>
          </li>
          <li (click)="choiceCategorie()">
            <ion-icon name="trash"></ion-icon>
            <p>Limpeza</p>
          </li>
          <li (click)="choiceCategorie()">
            <ion-icon name="car"></ion-icon>
            <p>Trânsito</p>
          </li>
          <li (click)="choiceCategorie()">
            <ion-icon name="water"></ion-icon>
            <p>Esgoto</p>
          </li>
          <li (click)="choiceCategorie()">
            <ion-icon name="school"></ion-icon>
            <p>Educação</p>
          </li>
          <li (click)="choiceCategorie()">
            <ion-icon name="apps"></ion-icon>
            <p>Outros</p>
          </li>
        </ul>
      </div>
      <div *ngSwitchCase="'tipo'">
        <div class="container-stage">
          <div class="number">3</div>
          <div class="text">
            <strong>Selecione o Tipo</strong>
          </div>
        </div>
        <ion-list>
          <ion-card (click)="saveTipe()">
            <ion-card-content class="flex-card">
              <div>
                <ion-card-title>Foco na Dengue</ion-card-title>
              </div>
              <ion-icon class="set" name="ios-arrow-forward"></ion-icon>
            </ion-card-content>
          </ion-card>
          <ion-card (click)="saveTipe()">
            <ion-card-content class="flex-card">
              <div>
                <ion-card-title>Desmatamento</ion-card-title>
              </div>
              <ion-icon class="set" name="ios-arrow-forward"></ion-icon>
            </ion-card-content>
          </ion-card>
          <ion-card (click)="saveTipe()">
            <ion-card-content class="flex-card">
              <div>
                <ion-card-title>Queimada</ion-card-title>
              </div>
              <ion-icon class="set" name="ios-arrow-forward"></ion-icon>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </div>
      <div *ngSwitchCase="'descricao'">
        <div class="container-stage">
          <div class="number">4</div>
          <div class="text">
            <strong>Descreva sua Participação</strong>
          </div>
        </div>
        <ion-card>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label stacked text-uppercase>Descrição</ion-label>
                <ion-textarea></ion-textarea>
              </ion-item>
            </ion-list>
            <ion-buttons end>
              <button ion-button icon-left full outline margin-top>
                <ion-icon name="image"></ion-icon>
                Escolher uma imagem da galeria
              </button>
              <button ion-button icon-left full outline margin-top color="basegreen">
                <ion-icon name="camera"></ion-icon>
                Fotograr
              </button>
            </ion-buttons>
            <div margin-top>
              <button ion-button round full (click)="saveLocal()"> Salvar</button>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
  </section>
</ion-content>
