page-noticias-noticia-detalhe {
    ion-slides {
        margin-top: 20px;
    }
    .buttons-event{

     padding: 0 23px;
     small{

     padding-top: 5px;
     }
    }
    ion-slide {
        padding: 10px 40px 10px 5px;
        ion-card-content {
            height: 120px;
            overflow: hidden;
        }
    }
}
