<ion-header color="header">
  <ion-navbar>
    <button ion-button menuToggle>
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <ion-title text-center>Notícias</ion-title>
    <ion-buttons end>
      <button  class="search-header">
      <ion-icon name="search"></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <img [src]="conteudo.Imagem" class="img-featured">
  <div >
    <header class="buttons-event">
      <small class="date">{{conteudo.DataHora}}</small>
      <div class="buttons">
      <button ion-button icon-left clear small (click)="postLike(conteudo)" [ngClass]="{'liked': conteudo.JaCurtiu}">
        <ion-icon name="heart"></ion-icon>
        <div>{{conteudo.Curtidas}}</div>
      </button>
      <button class="share" ion-button icon-right text-left clear small (click)="postShare(conteudo)">
        <ion-icon name="share"></ion-icon>
      </button>
    </div>
    </header>
    <section padding>
      <small text-uppercase class="blue-color bold">{{conteudo.CategoriaConteudo?.Nome}}</small>
      <h2 class="bold">{{conteudo.Titulo}}</h2>
      <div class="block-text" margin-top [innerHtml]="conteudo.Texto"></div>
    </section>
    <section class="padding-section">
      <h5 class="bold">Veja outras notícias</h5>
      <ion-slides pager spaceBetween="-40">
        <ion-slide *ngFor="let noticia of (noticiasList | slice: -3)">
          <ion-card text-left (click)="openDetail('noticias', noticia.Id)">
            <ion-card-content>
              <small text-uppercase class="blue-color">{{noticia.CategoriaConteudo?.Nome}}</small>
              <ion-card-title>{{noticia.Titulo}}</ion-card-title>
              <div [innerHtml]="noticia.Texto | excerpt:50"></div>
            </ion-card-content>
            <ion-row class="footer-card">
              <ion-col>
                <button ion-button icon-left clear small (click)="postLike(noticia)" [ngClass]="{'liked': noticia.JaCurtiu}">
                  <ion-icon name="heart"></ion-icon>
                  <div>{{noticia.Curtidas}}</div>
                </button>
              </ion-col>
              <ion-col text-right>
                <ion-note>{{noticia.Hora}}</ion-note>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-slide>
      </ion-slides>

    </section>
  </div>
</ion-content>

