page-voluntario {
 
}


indique-amigos {
    background: rgba(0, 0, 0, 0.7);
    padding: 25px;
    box-sizing: border-box;
    header {
        border-bottom: 1px solid #e9e9e9;
    }
    .container-round {
        background: #ffffff;
        border-radius: 10px;
        padding: 25px;
        height: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        h2 {
            font-weight: bold;
        }
        ion-list {
            overflow: auto;
        }
    }
    ion-avatar {
        position: relative;
        ion-icon {
            position: absolute;
            right: -2%;
            bottom: 0;
        }
    }
    .button {
        font-weight: bold;
        ion-icon {
            margin-right: 5px;
        }
    }
    .title {
        font-size: 1.4rem;
        line-height: 1.4;
        color: black;
    }
}