page-conheca-partido {
    section, .scroll-content{
        background: #fafafa!important;
    }
    .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    .description{
        font-family: $font;
        font-weight: 400;
        color: #175899;
        text-align: center;
        font-size: 2.1rem;
        strong{
            font-weight: bold;
        }
    }
    input[type=text]{
        width: 100%;
        border-radius: 4px;
        border: 1px solid #175899;
        font-size: 1.4rem;
        color: #333333;
        padding: 15px 12px;
        height: 49px;
        background: transparent;
    }
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #333333;
        opacity: 1; /* Firefox */
    }
    
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #333333;
    }
    
    ::-ms-input-placeholder { /* Microsoft Edge */
        color: #333333;
    }
    .list-md .item-block .item-inner{
        border: 0;
    }
    .item-md{
        padding: 3% 6% !important;
    }
    ion-list{
        margin: 3% 0%!important;
        ion-label{
            text-overflow: inherit;
            white-space: inherit;
        }
        .headerR{
            display: flex;
            justify-content: start;
            align-items: center;
            padding-bottom: 4%;
            .blocktext{
                display: flex;
                flex-direction: column;
            }
        }
        ion-item{
                background: #ffffff!important;
                padding: 3% 6% !important;
                margin-bottom: 3%!important;
                border-radius: 10px!important;
                ion-avatar{
                    min-width: 62px!important;
                    border: 1px solid #ccc;
                    border-radius: 100%;
                    min-height: 62px!important;
                    img{
                        min-width: 62px!important;
                        min-height: 62px!important;
                    }
                }
                h2{
                    font-family: $font;
                    color: #333333;
                    font-weight: bold!important;
            }
    }
    .item-ios ion-avatar,.item-ios ion-avatar ion-img, .item-ios ion-avatar img {
        min-width: 62px!important;
        min-height: 62px!important;
    }
    .infosOthers{
        border-top: 1px solid #ccc;
        padding-top: 4%;
        p{
            color: #999999;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.6em;
        }
        
    }
}

}
