page-eleicoes-data-prazos {
    section, .scroll-content{
        background: #fafafa!important;
    }
    .list-md .item-block .item-inner{
        border: 0;
    }
    .item-md{
        padding: 3% 6% !important;
    }
    h2{
        font-size: 2.2rem;
        color: #175899;
        margin: 4% 0!important;
        font-weight: 500;
    }
    ion-list{
        margin: 5% 0%!important;
        ion-item{
            background: #ffffff!important;
            padding: 3% 6% !important;
            border-radius: 10px!important;
            margin-bottom: 3%!important;
            ion-avatar{
                min-width:35px!important;
                border-right: 1px solid #ededed;
                padding-right: 5%;
                border-radius: 0%;
                min-height: 35px!important;
                img{
                    min-width: 35px!important;
                    border-radius: 0%!important;
                    min-height: 35px!important;
                }
                p{
                    font-family: $font;
                    font-size: 2.4rem!important;
                    color: #175899!important;
                    line-height: 1em!important;
                    font-weight: bold!important;
                    text-align: center!important;
                }
            }
            h2{
                font-family: $font;
                color: #333333!important;
                font-size: 2.0rem!important;
                font-weight: bold!important;
            }
            ion-icon{
                position: absolute;
                right: 7%;
                top: 34%;
                font-size: 2.2em;
            }
        }
    }
    ion-label{
        text-overflow: inherit!important;
        white-space: inherit!important;
        h2{
            width: 85%;
        }
    }
}
