page-material-institucional {
    section, .scroll-content {
        background: #f9f9f9!important;
    }
    ion-card-title{
        font-family: $font!important;
        color: #333333!important;
        font-weight: bold!important;
        font-size: 1.7rem!important;
    }
    .button{
        width: 30%!important;
        height: inherit!important;
        padding: 3%;
        font-size: 1.4rem!important;
        font-weight: 700!important;
        background: #f8b700!important;
        border-radius: 30px!important;
        text-transform: uppercase!important;
        color: #fff!important;
    }
    .footer-card{
        border: 0!important;
    }
    .card-ios{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        box-shadow: inherit
    }
    .listButtons{
        display: flex;
        margin: 5% 0 7%;
        align-items: center;
        .item {
            color: #bfbfbf;
            width: 24%;
            margin-right: 1%;
            border-radius: 30px;
            background: #fff;
            padding: 7px 0;
            font-weight: 700;
            font-size: 1.5rem;
            margin-right: 5px;
            -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
            -webkit-transition: all 0.4s ease;
            transition: all 0.4s ease;
            &.active{
                color: #fff;
                background: #175899;
            }
            &::nth-child(4){
                margin-right: 0;
            }
        }
}
}
