<ion-header color="header">
  <ion-navbar>
    <button ion-button menuToggle>
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <ion-title text-center>Material Institucional</ion-title>
    <ion-buttons end>
    <button  class="search-header">
      <ion-icon name="search"></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
  <section>
    <div class="listButtons">
      <button class="item" [ngClass]="{'active':active1}"(click)="clickTodos()">Todos</button>
      <button class="item" [ngClass]="{'active':active2}" (click)="click1('Cartazes')">Cartazes</button>
      <button class="item" [ngClass]="{'active':active3}"(click)="click1('Posts')">Posts</button>
      <button class="item" [ngClass]="{'active':active4}"(click)="click1('Capas')">Capas</button>
    </div>
    <div>
      <ion-card *ngFor="let material of listMaterial | searchCategorias: searchText">
        <img src="{{material.Imagem}}"/>
        <ion-card-content>
          <ion-card-title>{{material.Titulo}}</ion-card-title>
          <p [innerHtml]= "material.SubTitulo"></p>
        </ion-card-content>
        <ion-row class="footer-card">
          <ion-col>
            <button ion-button (click)="getFile(material.Arquivo)">Baixar</button>
          </ion-col>
        </ion-row>
      </ion-card>

      <div class="NoContentmsg" *ngIf="listMaterial==''">
        <!-- <img src="" alt=""> -->
        <i class="fa fa-frown-o" aria-hidden="true"></i>
        <p>Nenhuma pesquisa encontrada</p>
      </div>
    </div>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </section>
</ion-content>
