<ion-header color="header">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Seja um Voluntário</ion-title>
    <ion-buttons end>
      <!-- <button  class="search-header">
      <ion-icon name="search"></ion-icon>
    </button> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content *ngIf="vol">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
  <img src="{{vol.Imagem}}" class="img-featured">
  <div padding>
    <header class="buttons-event right">
      <button ion-button icon-left clear small [ngClass]="{'liked': vol.JaCurtiu}" (click)="postLike(vol)">
        <ion-icon name="heart"></ion-icon>
        <div>{{vol.Curtidas}}</div>
      </button>
      <button class="share" ion-button icon-right text-left clear small (click)="postShare(vol)">
        <ion-icon name="share"></ion-icon>
      </button>
    </header>
    <h2 class="bold">{{vol.Titulo}}</h2>
    <div class="block-text" margin-top>
      <p [innerHtml]="vol.Texto"></p>
    </div>
    <!-- <footer padding-top>
      <button ion-button full text-uppercase (click)="openModal()">Convide Amigos</button>
    </footer> -->
  </div>
</ion-content>
