<ion-header color="header">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Notificações</ion-title>
    <ion-buttons end>
      <!-- <button  class="search-header">
      <ion-icon name="search"></ion-icon>
    </button> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
  <ion-list margin-top>
    <ion-card (click)="openDetail('notificacoes', notification.Id)" *ngFor="let notification of notificationsList">
      <ion-card-content>
        <div>
          <ion-card-title>{{notification.Titulo}}</ion-card-title>
          <p [innerHTML]="notification.Mensagem"></p>
          <ion-note>  <ion-icon name="calendar"></ion-icon> {{notification.DataCriacao}}</ion-note>
        </div>
      </ion-card-content>
    </ion-card>
    <p *ngIf="!notificationsList"> Não há notificações no momento</p>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
