<ion-header color="header">
    <ion-navbar>
      <button ion-button menuToggle>
        <!-- <ion-icon name="menu"></ion-icon> -->
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
      <ion-title text-center>MaisQueVoto MDB</ion-title>
      <ion-buttons end>
        <button  class="search-header">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <div class="bannerItem" (click)="navPage(PesquisaPage)">
        <button class="button" ion-button (click)="navPage(QueroContribuirPage)">
            Fazer Minha doação
        </button>
      </div>

      <div class="noticias-tab-content tab-content">
        <section padding>
        <h2>Notícias</h2>
        <div>
            <ion-card *ngFor="let conteudo of noticiasList">
              <img (click)="openDetail('noticias', conteudo.Id)" [src]="conteudo.Imagem"/>
              <ion-card-content (click)="openDetail('noticias', conteudo.Id)">
                <span class="spanCategoria">{{conteudo.CategoriaConteudo.Nome}}</span>
                <ion-card-title>{{conteudo.Titulo}}</ion-card-title>
                <div [innerHtml]="conteudo.Texto | excerpt:120"></div>
              </ion-card-content>
              <ion-row class="footer-card">
                <ion-col>
                  <button ion-button icon-left clear small>
                    <div>{{conteudo.Hora}}</div>
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button icon-right text-left clear small (click)="showShare(conteudo)">
                    <i class="fa fa-share-alt" aria-hidden="true"></i>
                  </button>
                </ion-col>
              </ion-row>
            </ion-card>
          </div>
        </section>

      <ion-infinite-scroll (ionInfinite)="doInfinite($event, tab)">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </div>
</ion-content>
