page-home {
  ion-content{
    background: #fafafa!important;
  }
  section, .scroll-content{
    background: #fafafa
  }
  ion-segment {
    margin-bottom: 0;//20px;
  }

  .segment-ios .segment-button {
    border-radius: 0 !important;
  }

  .scrolling-links {
    margin-bottom: 0;
    height: 45px;
  }

  .filter-box {
    .item-ios.item-block .item-inner {
      border-bottom: 0 none;
    }
    .select-ios {
      padding: 6px 8px 3px 6px;
    }
    .item-ios {
      border-radius: 10px;
    }
  }

  .list-cards {
    margin-top: 5px;
  }

  .tab-content {
    .card-ios {
      border-radius: 10px;
      width: 100%;
      margin: 12px 0;
      box-shadow: none;
    }
  }

  .noticias-tab-content {
    h2{
      font-family: 'QuickSand';
      color: #333333;
      font-size: 2.8rem;
      margin-bottom: 16px;
    }
    .card {
      margin-bottom: 40px;
      .spanCategoria{
        color: #fff;
        font-weight: bold;
        font-size: 1.3rem;
        text-transform: uppercase;
        background: #175899;
        border-radius: 5px;
        padding: 1% 2%;
      }
      ion-card-content{
        padding: 7% 6%;
        background: #ffffff;
        ion-card-title{
          font-size: 1.6rem!important;
        }
      }
    }
  }

  .bannerItem{
    width: 100%;
    background: url('../assets/imgs/imgbanner.png') no-repeat;
    margin-bottom: 5%;
    background-size: 100%!important;
    height: 187px;
    position: relative;
    align-items: center;
    .button{
      width: 60%;
      position: absolute;
      bottom: -3%;
      right: 0;
      left: 0;
      margin: 0 auto;
      border-radius: 30px!important;
      background: #f8b700;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.6rem;
      color: #fff;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .footer-card {
    padding: 7px 4% 8px;
    button{
      font-size: 1em;
      i{
        font-size: 1.3em;
      }
    }
    .col:nth-child(2){
      justify-content: flex-end
    }
  }
}


