page-detail-eleicoes {
    section, .scroll-content{
        background: #fff;
    }
    .headerClass{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 0;
        padding-bottom: 2%;
        border-bottom: 1px solid #ededed;
        margin-bottom: 5%;
        h2{
            font-family: $font;
            color: #333333!important;
            font-size: 2.0rem!important;
            width: 60%;
            font-weight: bold!important;
        }
        .date{
            display: flex;
            width: 30%;
            max-height: 60px;
            justify-content: center;
            border-left: 1px solid #ededed;
            flex-direction: column;
            p{
                font-family: $font;
                font-size: 2.4rem!important;
                color: #175899!important;
                line-height: 1em!important;
                font-weight: bold!important;
                text-align: center!important;
            }
        }
    }
}
