<ion-header color="header">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Evento</ion-title>
    <ion-buttons end>
      <!-- <button (click)="searchToggle()" class="search-header">
      <ion-icon name="search"></ion-icon>
    </button> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="evento" style=" background: #fff!important;">
  
        <style>
         section, .scroll-content, .fixed-content, div {
      background: #fff!important;
      margin-top: -1%;
    }
    .vejaoutras{
            background:#fafafa!important;
        }
    .button-clear-ios {
        border-color: transparent;
        color: #bfbfbf!important;
        background-color: transparent;
    }

    
            </style>
  <img [src]="evento.Imagem"  class="img-featured">
  <div>
    <header class="buttons-event" style="padding-left: 16px;
    padding-right: 16px;    padding-bottom: 39px;
    padding-top: 5px;">
      <ion-row>
        <ion-col text-left col-6 col-md-2>
          <div style="margin-top: 8px;">
              <ion-note><ion-icon name="pin"></ion-icon> {{evento.Local}} </ion-note>
     
          </div>
        </ion-col>
        <ion-col text-right col-6 col-md-2>
          <button ion-button icon-left clear small (click)="postLike(evento)" [ngClass]="{'liked': evento.JaCurtiu}" style="height: 15px;
          border-right: 1px solid;
          border-radius: 0!important;">
            <ion-icon name="heart"></ion-icon>
            <div>{{evento.Curtidas}}</div>
          </button>
          <button class="share" ion-button icon-right text-left clear small (click)="postShare(evento)">
            <ion-icon name="share"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </header>
    <section style="padding:16px;    padding-top: 0;">
        <h4 class="bold">{{evento.Titulo}}</h4>

      <p class="date-event"><ion-icon name="calendar"></ion-icon> {{evento.DataBR}}, às {{evento.Hora}}</p>
      <!-- <section class="friends-event">
        <strong>Amigos do Facebook que confirmaram:</strong>
        <div class="row-box">
          <ul class="list-friends">
            <li>
              <img src="assets/imgs/avatar.jpg">
              <ion-icon name="checkmark-circle"></ion-icon>
            </li>
            <li>
              <img src="assets/imgs/avatar.jpg">
              <ion-icon name="checkmark-circle"></ion-icon>
            </li>
            <li>
              <img src="assets/imgs/avatar.jpg">
              <ion-icon name="checkmark-circle"></ion-icon>
            </li>
            <li class="count" (click)="showAllFriends()">
              <span>+10</span>
            </li>
          </ul>
          <button ion-button (click)="confirmEvent()">Eu vou!</button>
        </div>
      </section> -->
      <div class="block-text" margin-top>
        <p [innerHtml]="evento.Texto"></p>
      </div>
    </section>
    <section class="padding-section vejaoutras"  style="padding:16px;">
      <h5 class="bold">Veja outros eventos</h5>
      <ion-slides pager spaceBetween="-40" class="list-cards">
        <ion-slide *ngFor="let outro of outros">
          <ion-card (click)="openDetail('evento',outro.Id)">
            <div class="row">
              <div class="hour" [innerHtml]="outro.dataformatada"></div>
              <div class="col" text-left>
                <ion-card-content>
                  <ion-card-title>{{outro.Titulo}}</ion-card-title>
                  {{outro.Local}}
                </ion-card-content>
              </div>
            </div>
          </ion-card>
        </ion-slide>
      </ion-slides>

    </section>
  </div>
</ion-content>