<!-- @TODO aplicar html e css para iOS -->
<ion-header color="header">
  <style>
   .qc-group-btn button {

    font-weight: 700;
}
    </style>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Quero contribuir</ion-title>
    <ion-buttons end>
      <!-- <button  class="search-header">
        <ion-icon name="search"></ion-icon>
      </button> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="step === 1">

  <header class="qc-header">
    <div class="photo" [ngStyle]="{'background': 'url(' + candidato.Imagem + ') no-repeat'}"></div>
    <div class="mask"></div>
    <h2>{{candidato.Nome}}</h2>
    <h5>Faça sua doação</h5>
  </header>

  <form class="qc-form" [formGroup]="contribuirForm" novalidate>
    <h3>Identifique-se</h3>

    <ion-list>

      <ion-item no-lines>
        <ion-input type="text" placeholder="Nome" name="nome" formControlName="nome" [(ngModel)]= "model.Nome" (keyup)="validaPart1()"></ion-input>
        <span class="error" ng-show="errorNome">O campo Nome é obrigatório</span>
      </ion-item>

      <ion-item no-lines>
        <ion-input type="email" placeholder="E-mail" name="email" formControlName="email" [(ngModel)]= "model.Email" (keyup)="validaPart1()"></ion-input>
        <span class="error" ng-show="errorEmail">O campo E-mail é obrigatório</span>
        <span class="error" ng-show="errorEmail2">O campo E-mail é invalido</span>
      </ion-item>

      <ion-item no-lines>
        <ion-input type="tel" placeholder="CPF" [brmasker]="{person: true}" name="cpf" formControlName="cpf" [(ngModel)]= "model.CPFCNPJ" (keyup)="validaPart1()"></ion-input>
        <span class="error" ng-show="errorCPF">O campo CPF é obrigatório</span>
        <span class="error" ng-show="errorCPF2">O campo CPF é invalido</span>
      </ion-item>

      <ion-item no-lines>
        <ion-input type="tel" placeholder="Celular"   [brmasker]="{phone: true}" name="celular" formControlName="celular" [(ngModel)]= "model.Celular" (keyup)="validaPart1()"></ion-input>
        <span class="error" ng-show="errorCelular">O campo Celular é obrigatório</span>
      </ion-item>

      <ion-item no-lines>
        <ion-select name="sexo" placeholder="Sexo" cancelText="Cancelar" formControlName="sexo" [selectOptions]="{title: 'Sexo'}" [(ngModel)]= "model.Sexo" (ionChange)="validaPart1()">
          <ion-option value="2">Feminino</ion-option>
          <ion-option value="1">Masculino</ion-option>
        </ion-select>
        <span class="error" ng-show="errorSexo">O campo Sexo é obrigatório</span>
      </ion-item>

      <ion-item no-lines no-margin no-padding class="qc-buttons" style="width: 97%;
      margin: 0 auto;">
        <ion-row>
          <ion-col col-5>
            <button class="qc-btn-cancel" ion-button block (click)="goBack()">Voltar</button>
          </ion-col>
          <ion-col col-7>
            <button class="qc-btn-submit" ion-button block color="header" (click)="goToStep(2,model)" [disabled]="erroParte1">Continuar</button>
          </ion-col>
        </ion-row>
      </ion-item>

    </ion-list>
  </form>

</ion-content><!-- / Passo 1 -->

<ion-content *ngIf="step === 2">
  <header class="qc-header">
    <div class="photo" [ngStyle]="{'background': 'url(' + candidato.Imagem + ') no-repeat'}"></div>
    <div class="mask"></div>
    <h2>{{candidato.Nome}}</h2>
    <h5>Faça sua doação</h5>
  </header>

  <form class="qc-form" [formGroup]="contribuirStep2Form" novalidate>
    <h3>Selecione o Valor</h3>

    <ion-list>

      <ion-item no-lines class="qc-group-btn">
        <ion-row>
          <ion-col col-6>
            <button ion-button full (click)= "selecionarValor(configuracao.DoacaoValor1)">{{configuracao.DoacaoValor1}}</button>
          </ion-col>
          <ion-col col-6>
            <button ion-button full (click)= "selecionarValor(configuracao.DoacaoValor2)">{{configuracao.DoacaoValor2}}</button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <button ion-button full (click)= "selecionarValor(configuracao.DoacaoValor3)">{{configuracao.DoacaoValor3}}</button>
          </ion-col>
          <ion-col col-6>
            <button ion-button full  (click)= "selecionarValor(configuracao.DoacaoValor4)">{{configuracao.DoacaoValor4}}</button>
          </ion-col>
        </ion-row>
      </ion-item>
      <input type="hidden" name="quantia">

      <ion-item no-lines>
        <ion-label class="qc-label">Outro Valor</ion-label>
        <ion-input type="text" placeholder="R$" name="valor" value="" [brmasker]="{ money:true }" formControlName="valor" [(ngModel)]= "model.Valor2" (keyup)="convert($event)"></ion-input>
      </ion-item>

      <ion-item text-wrap no-lines class="qc-info">
          <ion-icon name="alert" item-start style="    margin: 0!important;
          color: #333333;    font-size: 1.5em!important;"></ion-icon>
        <div item-end ><p style="font-size: 1.4rem;
    color: #333333;
    font-weight: bold;font-size: 1.5rem!important;">Para valores acima de R$ 1.064,00 a doação deverá ser realizada via TED bancário.</p></div>
      </ion-item>

      <ion-item text-wrap no-lines>
        <ion-checkbox align-self-start formControlName="check1" (ionChange)="validaPart2()"></ion-checkbox>
        <ion-label><p class="p33">Declaro ter ciência de que a legislação eleitoral limita as doações a 10% (dez por cento) dos
            rendimentos brutos auferidos pelo doador no ano anterior à eleição.</p></ion-label>
      </ion-item>

      <ion-item text-wrap no-lines>
        <ion-checkbox align-self-start formControlName="check2" (ionChange)="validaPart2()"></ion-checkbox>
        <ion-label><p class="p33">Declaro, ainda, que os recursos as serem doados, além de possuírem origem lícita, não são
            provenientes de fonte vedada, nos <strong>termos do art. 33 da Resolução n<sup>o</sup> 23.553/17 do TSE.</strong></p></ion-label>
      </ion-item>

      <ion-item no-lines no-margin no-padding class="qc-buttons" style="width: 97%;
      margin: 0 auto;">
      <ion-row>
          <ion-col col-5>
            <button class="qc-btn-cancel" ion-button block (click)="goToStep(1)">Voltar</button>
          </ion-col>
          <ion-col col-7>
            <button class="qc-btn-submit" ion-button block color="header" (click)="goToStep(3,model)" [disabled]="erroParte2">Continuar</button>
          </ion-col>
        </ion-row>
      </ion-item>

    </ion-list>
  </form>
</ion-content><!-- / Passo 2 -->

<ion-content *ngIf="step === 3">
  <header class="qc-header">
    <div class="photo" [ngStyle]="{'background': 'url(' + candidato.Imagem + ') no-repeat'}"></div>
    <div class="mask"></div>
    <h2>{{candidato.Nome}}</h2>
    <h5>Faça sua doação</h5>
  </header>
  <form class="qc-form" [formGroup]="contribuirStep3Form" novalidate>
    <h3>Digite seu endereço</h3>

    <ion-list>

      <ion-item no-lines>
        <ion-input type="cel" [brmasker]="{mask:'00000-000', len:10}" placeholder="CEP" name="cep" formControlName="cep"[(ngModel)]= "model.CEP"></ion-input>
      </ion-item>

      <ion-item no-lines>
        <ion-input type="text" placeholder="Estado" name="estado" formControlName="estado" [(ngModel)]= "model.Estado"></ion-input>
      </ion-item>

      <ion-item no-lines>
        <ion-input type="text" placeholder="Cidade" name="cidade" formControlName="cidade" [(ngModel)]= "model.Cidade"></ion-input>
      </ion-item>

      <ion-item no-lines>
        <ion-input type="text" placeholder="Bairro" name="bairro" formControlName="bairro" [(ngModel)]= "model.Bairro"></ion-input>
      </ion-item>

      <ion-item no-lines>
        <ion-input type="text" placeholder="Endereço" name="endereco" formControlName="endereco" [(ngModel)]= "model.Endereco"></ion-input>
      </ion-item>

      <ion-item no-lines class="qc-two">
        <ion-input type="text" placeholder="Número" name="numero" size="4" formControlName="numero" [(ngModel)]= "model.EnderecoNumero"></ion-input>
        <ion-input type="text" placeholder="Complemento" name="complemento" formControlName="complemento"[(ngModel)]= "model.Complemento"></ion-input>
      </ion-item>

      <ion-item no-lines no-margin no-padding class="qc-buttons" style="width: 97%;
      margin: 0 auto;">
      <ion-row>
          <ion-col col-5>
            <button class="qc-btn-cancel" ion-button block (click)="goToStep(2)">Voltar</button>
          </ion-col>
          <ion-col col-7>
            <button class="qc-btn-submit" ion-button block color="header" (click)="goToStep(4,model)">Continuar</button>
          </ion-col>
        </ion-row>
      </ion-item>

    </ion-list>
  </form>
</ion-content><!-- / Passo 3 -->

<ion-content *ngIf="step === 4">
  <header class="qc-header">
    <div class="photo" [ngStyle]="{'background': 'url(' + candidato.Imagem + ') no-repeat'}"></div>
    <div class="mask"></div>
    <h2>{{candidato.Nome}}</h2>
    <h5>Faça sua doação</h5>
  </header>

  <form class="qc-form" [formGroup]="contribuirStep4Form" novalidate>
    <h3>Forma de Pagamento</h3>

    <ion-segment [(ngModel)]="formaPgto" [ngModelOptions]="{standalone: true}">
      <ion-segment-button value="cartao" text-wrap align-items-center>
        <ion-icon name="card"></ion-icon>
        <p style="    line-height: 1;
        margin-top: 7px;
        font-size: 1.8rem;
        width: 55%;">Cartão de Crédito</p>
      </ion-segment-button>
      <ion-segment-button value="boleto" text-wrap align-items-center>
        <ion-icon name="barcode"></ion-icon>
        <p>Boleto</p>
      </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="formaPgto">
      <div *ngSwitchCase="'cartao'">

        <ion-list padding-top>

          <ion-item no-lines>
            <ion-label color="dark" stacked>Número do cartão</ion-label>
            <ion-input type="tel" placeholder="" [brmasker]="{mask:'00000 0000 0000 0000', len:20}" name="cartao_numero" formControlName="documento" [(ngModel)]= "model.NumeroDocumento"></ion-input>
          </ion-item>

          <ion-item no-lines>
            <ion-label color="dark" stacked>Nome Impresso no Cartão</ion-label>
            <ion-input type="text" placeholder="" name="cartao_nome" formControlName="nomeimpresso" [(ngModel)]= "model.NomeDocumento"></ion-input>
          </ion-item>

          <ion-item no-lines>
            <ion-label color="dark" stacked>Data de Nascimento</ion-label>
            <ion-input type="tel" [brmasker]="{mask:'00/00/0000', len:10}" placeholder="dd/mm/aaaa" name="cartao_dt_nasc" formControlName="data" [(ngModel)]= "model.DataNascimentoDocumento"></ion-input>
          </ion-item>

          <ion-item no-lines class="no-margin-bottom">
            <ion-label color="dark" stacked>Validade</ion-label>
          </ion-item>

          <ion-item no-lines class="qc-two">

            <ion-select name="cartao_val_mes" placeholder="Mês" cancelText="Cancelar" [selectOptions]="{title: 'Mês'}" formControlName="mes" [(ngModel)]= "model.MesDocumento">
              <ion-option value="01">Janeiro</ion-option>
              <ion-option value="02">Fevereiro</ion-option>
              <ion-option value="03">Março</ion-option>
              <ion-option value="04">Abril</ion-option>
              <ion-option value="05">Maio</ion-option>
              <ion-option value="06">Junho</ion-option>
              <ion-option value="07">Julho</ion-option>
              <ion-option value="08">Agosto</ion-option>
              <ion-option value="09">Setembro</ion-option>
              <ion-option value="10">Outubro</ion-option>
              <ion-option value="11">Novembro</ion-option>
              <ion-option value="12">Dezembro</ion-option>
            </ion-select>

            <ion-select name="cartao_val_ano" placeholder="Ano" cancelText="Cancelar" [selectOptions]="{title: 'Ano'}" formControlName="ano" [(ngModel)]= "model.AnoDocumento">
              <ion-option *ngFor="let ano of years" [value]="ano">{{ano}}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item no-lines>
            <ion-label color="dark" stacked>Código de segurança</ion-label>
            <ion-input type="text" placeholder="CVV" name="cartao_cvv" maxlength="4" formControlName="cvv" [(ngModel)]= "model.NumeroAutorizacao"></ion-input>
          </ion-item>

          <ion-item no-lines padding text-center>
            <img src="/assets/imgs/visa.png" alt="visa">
            <img src="/assets/imgs/mastercard.png" alt="mastercard">
          </ion-item>

          <ion-item text-wrap no-lines class="qc-info">
            <ion-icon name="lock" md="md-lock" item-start></ion-icon>
            <div item-end>esse ambiente é seguro e os dados do seu cartão não serão armazenados</div>
          </ion-item>

          <ion-item no-lines no-margin no-padding class="qc-buttons" style="width: 97%;
          margin: 0 auto;">
            <ion-row>
              <ion-col col-5>
                <button class="qc-btn-cancel" ion-button block (click)="goToStep(3)">Voltar</button>
              </ion-col>
              <ion-col col-7>
                <button class="qc-btn-submit" ion-button block color="header" (click)="enviarDoacao(model)">Continuar</button>
              </ion-col>
            </ion-row>
          </ion-item>

        </ion-list>

      </div>

      <div *ngSwitchCase="'boleto'">

        <ion-list>
          <ion-item>
            <p text-center>O boleto será enviado para o seu e-mail.</p>
          </ion-item>

          <ion-item no-lines no-margin no-padding class="qc-buttons">
            <ion-row>
              <ion-col col-4>
                <button class="qc-btn-cancel" ion-button block (click)="goToStep(1)">Voltar</button>
              </ion-col>
              <ion-col col-8>
                <button class="qc-btn-submit" ion-button block color="header" (click)="goToStep(5)">Continuar</button>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </form>
</ion-content><!-- / Passo 4 -->

<ion-content *ngIf="step === 5">
  <ion-grid>
    <ion-row align-items-center>
      <ion-col class="qc-confirmation">
        <h2>Confirmação</h2>

        <div text-center>
          <ion-icon name="ios-checkmark-circle-outline"></ion-icon>
        </div>

        <p>Sua doação foi armazenada com sucesso!</p>

        <ion-list class="qc-form">
          <ion-item class="qc-buttons">
            <button class="qc-btn-submit" ion-button block color="header" (click)="goToStep(4)">Doar novamente</button>
          </ion-item>
        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="qc-footer">
  <ion-toolbar>
    <ion-title *ngIf="step <= 4">Passo <strong>{{step}} de 4</strong></ion-title>
    <ion-title *ngIf="step == 5">Doação <strong>Concluída</strong></ion-title>
  </ion-toolbar>
</ion-footer>


