<ion-menu [content]="content">
  <ion-header color="header">
    <ion-toolbar class="menu-header">
     
    </ion-toolbar>

  </ion-header>

  <ion-content>
    <style>
      .list-ios>.item-block {
        border-radius: 0 !important;
        margin-bottom: 0 !important;
      }
      .iniciocss .pzin{

    margin-left: -14%!important;
      }

      .item-ios {
        padding-left: 0;
      }
      /* ion-icon{
        font-size: 1.5em;
      } */
      .quero-contribuir{
        padding-top: 3% !important;
        background:#f9f9f9;
        opacity: 190;
        padding-bottom: 0% !important;
      }
      
      .quero-contribuir p{
        color: #333!important;
      }
    </style>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" [ngClass]="p.cssClass ? p.cssClass : ''">
        <i class="{{p.icon}}" style="float: left; margin: -1px 15px 2px 0px; font-size: 19px; width: 10%;"></i> 
        <p style="float: left;color:#333;">{{p.title}}<br *ngIf="p.description!=null">
        <span  class="pzin" *ngIf="p.description!=null"><small style="padding-left: 0;
        margin: 0;" >{{p.description}}</small></span></p>
      </button>
    </ion-list>
  </ion-content>

  <ion-footer class="socials">
    <ion-toolbar color="white">
      <div class="flex">
        <nav>
          <a href="#" target="_blank">
            <img src="assets/imgs/ico-facebook.png">
          </a>
          <a href="#" target="_blank">
            <img src="assets/imgs/ico-twitter.png">
          </a>
          <a href="#" target="_blank">
            <img src="assets/imgs/ico-youtube.png">
          </a>
          <a href="#" target="_blank">
            <img src="assets/imgs/ico-instagram.png">
          </a>
        </nav>
        <a href="#" class="signature" target="_blank">
          <img src="assets/imgs/logomdbMenu.png">
        </a>
      </div>
    </ion-toolbar>
  </ion-footer>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>