page-tutorial {
    .ico {
        margin: 0 auto;
        height: 165px;
        transform: scale(0.8);
        opacity: 0.5;
        transition: transform 0.5s 0.5s ease, opacity 0.5s ease;
    }
    p {
        font-size: 1.4rem;
        line-height: 2rem;
    }
    ion-slide {
        &.swiper-slide-active {
            .ico {
                transform: scale(1);
                opacity: 1;
            }
        }
        h2{
            font-family: 'QuickSand';
            font-weight: 400;
            color: #fff;
            font-size: 3.6rem;
            width: 79%;
            text-align: left;
            margin-left: 9%;
            strong{
                font-weight: 700;
            }
        }
    }
    .swiper-pagination{
        bottom: 4%!important;
    }
    .swiper-pagination-bullet{
        width: 10px;
        height: 10px;
    }
    .footer {
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 8px;
        width: 100%;
        padding: 0 15px 15px;
        z-index: 10;
        button, ion-icon {
            color: #fff;
            text-transform: uppercase;
            background: transparent;
            font-size: 1.8rem;
            font-weight: bold;
        }
        i {
            color: #fff;
            font-size: 2.2rem;
        }
        &.flexend{
            justify-content: flex-end;
        }
    }
    .swiper-pagination-bullet{
        border: 2px solid #fff;
        background: #fff;
        opacity: 1;
    }
    .swiper-pagination-bullet-active{
        background: transparent;
    }

    .slide-zoom {
        text-align: center;
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        position: relative
    }

    .proximaseta{
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
