<ion-searchbar placeholder="Buscar" (ionInput)="getItems($event)" (ionCancel)="onCancel($event)"></ion-searchbar>
<strong class="title">Sugestões:</strong>
<ion-list>
  <ion-item *ngFor="let item of items">
    {{ item }}
  </ion-item>
</ion-list>
<div>
  <button ion-button clear icon-left (click)="backPage()"> <ion-icon name="ios-arrow-back"></ion-icon> Voltar</button>
</div>