<ion-header color="header">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Notificações</ion-title>
    <ion-buttons end>
      <!-- <button  class="search-header">
      <ion-icon name="search"></ion-icon>
    </button> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
    <ion-card>
      <img src="assets/imgs/fakes/bolso.jpg">
      <ion-card-content>
        <div>
          <ion-card-title *ngIf="notif">{{notif.Titulo}}</ion-card-title>
          <ion-note *ngIf="notif">  <ion-icon name="calendar"></ion-icon> {{notif.DataCriacao}}</ion-note>
        </div>
        <div class="padding-border-top">
            <p *ngIf="notif" [innerHTML]="notif.Mensagem"></p>
        </div>
      </ion-card-content>
    </ion-card>
</ion-content>
