page-notificacoes-notificacoes-detalhe {
    .padding-border-top {
        border-top: 1px solid #e9e9e9;
        padding-top: 15px;
        margin-top: 15px;
        p {
            margin-top: 10px;
        }
    }
}
