<ion-header color="header">
  <ion-navbar>
    <button ion-button menuToggle>
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <ion-title text-center>Quero Contribuir</ion-title>
    <ion-buttons end>
      <button  class="search-header">
      <i class="fa fa-search" aria-hidden="true"></i>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>



<ion-content padding>
  <p class="description">
    Procure um <strong>candidato ou partido</strong> para fazer uma doação
  </p>
  <input type="text" placeholder="Digite o nome do candidato ou partido"  [(ngModel)]="searchText" >
  <ion-list>
    <ion-item *ngFor="let l of list | search: searchText" (click)="abrirForm(l)">
      <ion-avatar item-start>
        <img src="{{l.Imagem}}" *ngIf="l.Imagem!=undefined">
        <img src="assets/imgs/logomdb.png" *ngIf="l.Imagem==undefined">
      </ion-avatar>
      <h2>{{l.Nome}}</h2>
      <p>I've had a pretty messed up day. If we just...</p>
    </ion-item>
  </ion-list>
</ion-content>
