<ion-header color="header">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Minha Participação</ion-title>
    <ion-buttons end>
      <!-- <button  class="search-header">
      <ion-icon name="search"></ion-icon>
    </button> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
    <ion-card>
      <ion-card-content>
        <ion-note><ion-icon  name="calendar"></ion-icon> 10 de Janeiro de 2018</ion-note>
        <div class="block-text" margin-top>
          <div>
            <strong>Categoria:</strong>
            <p>Ordem Pública</p>
          </div>
          <div margin-top>
            <strong>Tipo:</strong>
            <p>Ocupação Irregular</p>
          </div>
          <div margin-top>
            <strong>Local:</strong>
            <p>Não informado</p>
          </div>
          <div margin-top>
            <strong>Descrição:</strong>
            <p>Trago os detalhes de um problema recorrente em nossa cidade que precisa de muita atenção e foco por parte de todos. Abaixo envio fotos e detalhes. Fico à disposição para maiores esclarecimentos.</p>
          </div>
          <div margin-top>
            <strong>Fotos:</strong>
            <ul class="list-pictures">
              <li>
                <img src="http://www.gazetavirtual.com.br/wp-content/uploads/2013/08/Buracos-rua-Candia-prox-a-rua-Serra-de-Botucatu-Carol.jpg">
              </li>
              <li>
                <img src="http://3.bp.blogspot.com/-2jFFg85GwDQ/UD2FvX8-9JI/AAAAAAAAAic/vvtqqtosxuE/s1600/buracos-rua.jpg">
              </li>
              <li>
                <img src="http://1.bp.blogspot.com/_AoprKPDWOLE/S_7mjFp4B0I/AAAAAAAACF8/2vgu1kjMO_o/s1600/rua_buraco.jpg">
              </li>
            </ul>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
</ion-content>
