<ion-header color="header">
    <ion-navbar>
      <button ion-button menuToggle>
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
      <ion-title text-center>Diretórios</ion-title>
      <ion-buttons end>
        <button  class="search-header">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      
  <ion-list margin-top *ngIf="items.length">
    <ion-card *ngFor="let item of items" (click)="openDetail('comites-detalhe', item.Id)">
      <ion-card-content class="flex-card">
        <div>
          <ion-card-title [innerHtml]="">
            {{item.Cidade}}/<span [innerHtml]="getNameFromUf(item.Estado)"></span>
          </ion-card-title>
          <ion-note>
            <ion-icon name="pin"></ion-icon>
            {{ item.Endereco }}
          </ion-note>
        </div>
        <ion-icon class="set" name="ios-arrow-forward"></ion-icon>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <div class="NoContentmsg" *ngIf="items.length == 0">
      <!-- <img src="" alt=""> -->
      <i class="fa fa-frown-o" aria-hidden="true"></i>
      <p>Nenhuma diretório encontrado</p>
    </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="!itemsEnded">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
