page-comites {
    section, .scroll-content{
        background: #fafafa!important;
    }
    ion-item{
        background: transparent!important;
        font-family: $font;
    }
    ion-select{
        padding: 0!important;
        font-size: 1.4rem;
        font-weight: 500;
        color: #666666;
    }
    ion-select:nth-child(1){
        font-family: $font;
    }
}
