<ion-header color="header">
  <ion-navbar>
    <button ion-button menuToggle>
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <ion-title text-center>2 anos de MDB no Governo</ion-title>
    <ion-buttons end>
      <button  class="search-header">
      <i class="fa fa-search" aria-hidden="true"></i>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>O que mudou na sua vida</h2>
  <ion-list>
    <ion-item *ngFor="let l of anosList" (click)="openDetails(l)">
      <ion-avatar item-start>
        <img src="{{l.Imagem}}" *ngIf="l.Imagem!=undefined">
        <img src="assets/imgs/logomdb.png" *ngIf="l.Imagem==undefined">
      </ion-avatar>
      <h2>{{l.Titulo}}</h2>
      <!-- <p>I've had a pretty messed up day. If we just...</p> -->
      <ion-icon name="ios-arrow-forward"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
