<ion-header color="header">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Programa de Governo</ion-title>
    <ion-buttons end>
      <!-- <button  class="search-header">
      <ion-icon name="search"></ion-icon>
    </button> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content *ngIf="programa">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
  <img src="{{programa.Imagem}}" class="img-featured">
  <div padding>
    <!-- <header class="buttons-event right grey"> -->
        <header class="buttons-event right">
      <button ion-button icon-left clear small [ngClass]="{'liked': programa.JaCurtiu}" (click)="postLike(programa)">
        <ion-icon name="heart"></ion-icon>
        <div>{{programa.Curtidas}}</div>
      </button>
      <button class="share" ion-button icon-right text-left clear small (click)="postShare(programa)">
        <ion-icon name="share"></ion-icon>
      </button>
    </header>

    <div class="block-text" margin-top>
     <h5 class="bold">{{programa.Titulo}}</h5>
      <p text-uppercase *ngIf="programa.Chamada">
        <strong>{{programa.Chamada}}</strong>
      </p>
      <p [innerHTML]="programa.Texto"></p>
    </div>
  </div>
</ion-content>
